body {
	background-color: #ffffff;
}
.userprofilecontainer{
    width: 60%;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    font-family: Arial, sans-serif;
}
.profileheaderdiv{
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #eee;
    background-color: #f9f9f9;
}
.postsdiv{
    padding: 20px;
}
.questdiv{

    border-bottom: 1px solid #eee;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: #ffffff;
    border-radius: 20px;
}
.postimage{
    width: 96%;
    aspect-ratio : 1 / 1;
    border-radius: 10px;
    object-fit: cover;
    transition: transform .4s;
}
.postimage:hover{
	transform: scale(1.05);
  }
.toppicdiv{
    /*width: 100%;*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.propicdiv{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ddd;
}
.profileimage{
    width: 96%;
    aspect-ratio : 1 / 1;
    object-fit: cover;
    border-radius: 50%;
}
.flabel{
    margin-top: 50px;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
    color: #666666;
}
.fcount{
    font-weight: 600;
    font-size: 28px;
    letter-spacing: 1px;
    color: #90CDD6;
}
.usernamediv{
    font-weight: 600;
    font-size: 28px;
    letter-spacing: 1px;
    color: #8EA0E3;
    /*margin-top: 20px;*/
    margin-bottom: 5px;
}
.namediv{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #666666;
}
.profbottomdiv{
    /*width: 100%;*/
    display: inline-block;
    margin: 5px;
    padding: 10px 20px;
    background-color: #669BBC;
    /*background-color: #5a5959; !* Red background for logout to indicate action *!*/
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}
a{
    text-decoration: none;
}

.question-content a{
    color: #666666;
    text-decoration: none;
    transition: color .4s;
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.logoutlink1 a, .editprlink a{
    font-size: 16px;
    font-weight: 550;
    letter-spacing: 1px;
    text-decoration: underline;
}

.editprlink{
    /*color: #7EC4CF;*/
    /*background-color: #5a5959; !* Red background for logout to indicate action *!*/
    color: #FFFFFF; /* White text for contrast */
}
/*styling for the new container end*/