/* edit profile container start */
.editprofcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    /*background-color: #FDF0D5; !* Light Beige *!*/
}

.editprofile-box {
    width: 50%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.texteditdiv, .piceditdiv {
    width: 100%;
    margin-bottom: 20px;
}

.piceditdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editprofdiv {
    width: 100%;
    text-align: center;
}

.styled-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #FDF0D5; /* Light Beige */
    background-color: #003049; /* Dark Blue */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.styled-button:hover {
    background-color: #669BBC; /* Light Blue */
}

.changepw-button {
    background-color: #C1121F; /* Red */
}

.changepw-button:hover {
    background-color: #780000; /* Dark Red */
}

.save-changes {
    background-color: #669BBC; /* Light Blue */
}

.save-changes:hover {
    background-color: #003049; /* Dark Blue */
}

#editprofile {
    cursor: pointer;
    height: 50px;
    text-align: center;
    background-color: #7EC4CF;
    width: 50%;
    margin: 10px auto;
    padding-top: 10px;
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
    box-sizing: border-box;
    border-radius: 20px;
}

#editprofile:hover {
    background-color: #8FD6C2;
}

.profimagediv {
    width: 100%;
}

#profpicid {
    width: 50%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
    margin: auto;
    display: block;
}

input[type=file] {
    cursor: pointer;
    border: 1px solid red;
}

.dummy {
    width: 50%;
    margin: 20px auto;
    background-color: #C7B6ED;
    text-align: center;
    border-radius: 20px;
    height: 50px;
    padding-top: 8px;
    box-sizing: border-box;
    font-size: 20px;
    letter-spacing: 1px;
    color: #343139;
}

.errormsg {
    color: #EB9494;
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding-bottom: 10px;
}

.namechangediv, .emailchangediv{
    width: 100%;
    margin-bottom: 20px;
    /*display: block;*/
    /*overflow: auto;*/
}

.labeldiv {
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 1px;
    color: #95C2E5;
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
}

.inputdiv {
    font-size: 16px;
    color: #666666;
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
}

.inputedit {
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: normal;
    border-bottom: 2px solid #C7B6ED;
    color: #666666;
}

.inputedit:focus {
    border-bottom: 2px solid #A57DFF;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 12px 20px;
    border: 2px solid #C7B6ED;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: normal;
    color: #666666;
    resize: none;
    outline: none;
    font-family: "DM Sans", sans-serif;
}

textarea:focus {
    border: 2px solid #A57DFF;
}
/* edit profile container end */