body {
	font-family: "DM Sans", sans-serif;
	line-height: 1.5;
	background-color: #ffffff;
    margin: 0px;
  }
.navigatdiv{
    max-height: 85px;
    height: 85px;
    margin: 0 0 20px 0;
    position:sticky;
    top: 0px;
    box-shadow: 0px 5px 5px -3px rgba(82, 178, 207, 0.3) ;
    background-color: #ffffff;
    z-index: 2; 
}
.weblogodiv{
    float: left;
    height: 100%;
    position: relative;
    margin: 0 0 0 2%;
    width: 18%;
}
.logoimage{
    height:auto;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}
/*this is the search bar*/
.searchdiv{
    float: left;
    width: 25%;
    height: 100%;
    position:relative;
    margin: 0 0 0 23%;
}
.search{
    width: 95%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 3% 0 3% 3%;
    border-radius: 50px;
    font-size: 1rem;
    border: 2px solid #666666;
    color: #666666;
}
.search:focus, .search:hover{
    outline: none !important;
    border:2px solid #52B2CF;
}
/*buttons in the nav bar start */
.linkdiv{
    /*float: left;*/
    /*height: 100%;*/
    /*position: relative;*/
    width: 25%;
    /*margin: 0 0 0 2%;*/
    display: flex;
    justify-content: space-around;
    padding: 10px;
    /*background-color: #2C3E50; !* Optional: Depends on your navbar color *!*/
    border-radius: 10px;
    float:right;
}
.linkelement{
    /*height: 100%;*/
    /*width: 30%;*/
    /*float: left;*/
    flex-grow: 1;
    text-align: center; /* Centering content within the div */
}
.linkimage{
    /*height: 40%;*/
    /*width: auto;*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*transform: translateY(-50%);*/
    /*width: auto;*/
    width: 30px; /* Icon size */
    height: 30px; /* Maintain aspect ratio */
    margin-bottom: 5px; /* Space between icon and text */
}
.icon-button {
    height: 20px;
    display: inline-block;
    background-color: #34495E; /* Dark background for contrast */
    color: #FFFFFF; /* White text for visibility */
    text-decoration: none; /* Remove underline from links */
    padding: 10px; /* Padding for spacing */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
}
.icon-button span {
    display: block; /* Make text appear below the icon */
    font-size: 12px; /* Smaller font size for text under icons */
}

.linkelement, .profilediv {
    margin-right: 20px; /* Margin for spacing between links */
}
.icon-button:hover {
    background-color: #669bbc; /* Light blue for hover effect */
    cursor: pointer;

}

/*buttons in the nav bar end */
.profilediv{
    float: right;
    height: 100%;
    width: 13%;
    max-width:13%;
    margin: 0 2% 0 0;
    position: relative;
    /*top: 1%;*/
}
.userlink{
    position: absolute;
    /*top: 500%;*/
    transform: translateY(-50%);
    font-size: 1.25rem;
    height: auto;
    width: 100%;
    text-align: right;
}
.profilelink{
    color: #52B2CF;
	text-decoration: none;
}
.profilelink:hover{
    color: #52B2CF;
	text-decoration: underline;
}
/*.searchresults, .notifications{*/
/*    position: fixed; */
/*    display: none; */
/*    height: fit-content;*/
/*    top: 70px;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    background-color: white; */
/*    box-shadow: 0 0 10px 4px rgba(126, 196, 207, 0.25);*/
/*    z-index: 2; */
/*    border-radius: 10px;*/
/*}*/
/*.searchresults{*/
/*    width: 30%; */
/*    max-width: 30%;*/
/*    max-height: 400px; */
/*    left: 40%;*/
/*}*/
.notifications{
    width: 30%; 
    max-width: 30%;
    max-height: 500px; 
    left: 60%;
}
.user{
    height: 56px;
    padding: 0 2%;
    box-shadow: 0px 0px 4px 0px rgba(82, 178, 207, 0.25)
}
.userlinks{
    color: #666666;
    text-decoration: none;
}
.seauserimagediv{
    padding: 3px 0 0 2px;
    width: 50px;
    height: 50px;
    float: left;
}
.seauserimage{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.searuserdeet{
    padding: 3px 0 0 65px;
    box-sizing: border-box;
}
.noresult{
    text-align: center;
    color: #666666;
    padding-top: 15px;
    box-sizing: border-box;
}
.notifications div{
    width: 100%;
    box-sizing: border-box;
    padding:10px 0 10px 5%;
    height:fit-content;
    box-shadow: 0px 0px 4px 0px rgba(82, 178, 207, 0.25)
}
.notifications a{
    color: #666666;
    text-decoration: none;
}
.notifications a:hover{
    color: #52B2CF;
}
.commentspam{
    font-size: 14px;
    color: #666666;
    padding-left: 4px;
    font-weight: 600;
}
